@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat:wght@900&family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

*{
    padding: 0px;
    margin: 0;
}
.navbar-brand{
    font-family: 'Bangers', cursive;
    font-size: 30px;
    margin-left: 300px;
    letter-spacing: 0.4em;
    color: thistle;
}
.navbar-nav{
   margin-right: 800px;
}
.nav-item{
    margin-right: 50px;
    
}
.navbar a{
    font-weight: 400;
    letter-spacing: 0.2em;
    font-size: 15px;

}


.navbar-nav a:hover{
    
    border-radius: 2px;
    text-transform: uppercase;
    transition-duration:1.5s ;
    transition: ease-in-out ;
}
html,body{
    height: 100%;
    
    

}
.book{
    background-image: url("../Images/hostel11.jpg");
    background-color: rgba(0,0,0,0.65);
    background-blend-mode: darken;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    position: relative;
    
}
#total{
    display: none;
}
.holder {
    padding: 10px;
   margin-bottom: 30px;
}
.container{
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
    margin-top: 50px;
    border:none;
    height: 60%;
    box-shadow:0 0 15px 18px rgba(0,0,0,0.06);
}
.bookHead{
    color: white;
    font-family: 'Noto Serif', serif;
    text-shadow: 4px 4px 4px #aaa;
    font-weight: bolder;
    letter-spacing: 0.3em;
    position: absolute;
    text-transform: uppercase;
    margin-top: 7%;
    margin-left: 42%;
    
}
.bookHead h1 {
    font-family: 'Bangers', cursive;
    font-size:30px;
}
.form-group{
    width: 50%;
    margin-left: 200px;
    padding:15px;
}
input[type=text],input[type=number],input[type=email]{
    padding:10px;
    border-radius:5px;
    
  }
  select{
    padding:10px;
    border-radius:10px;
    border:0.5px solid grey;
    
  }

footer {
    background-color: #010808;
    letter-spacing: 0.1em;
    opacity: 0.9;
    color: white;
    padding: 32px;
    margin-top: 300px;
   
  }
